<div class="am-g tpl-amazeui-form">
	<div class="am-u-sm-12 am-u-md-9">
		<%= simple_form_for [:background, @user], html: {class: "am-form am-form-horizontal ajax_common_form"}, remote: true, multipart: true  do |f|%>
			<div class="am-form-group">
				<label class="am-u-sm-3 am-form-label">登录名：</label>
				<div class="am-u-sm-9">
					<%= f.text_field :login_name%>
					<small></small>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-u-sm-3 am-form-label">真实姓名：</label>
				<div class="am-u-sm-9">
					<%= f.text_field :real_name%>
					<small></small>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-u-sm-3 am-form-label">分配角色：</label>
				<div class="am-u-sm-9">
					<%= f.select :role_ids, Role.all.pluck(:name, :id), {include_blank: ""}, {class: "select2", multiple: true} %>
					<small></small>
				</div>
			</div>

			<%= render "shared/amaze/submit_button", f: f%>

		<% end -%>
	</div>
</div>