<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form">
			<table class="am-table am-table-striped am-table-hover table-main">
				<thead>
					<tr>
						<th class="table-id">序号</th>
						<th class="table-title">菜单名称</th>
						<th class="table-type">系统菜单</th>
						<th class="table-author am-hide-sm-only">菜单描述</th>
						<th class="table-date am-hide-sm-only">新增时间</th>
						<th class="table-set">操作</th>
					</tr>
				</thead>
				<tbody>
					<% @menus.each_with_index do |menu, index|%>
						<tr id="menu_<%= menu.id %>">
							<td><%= index + 1%></td>
							<td><%= menu.name%></td>
							<td><%= menu.system_menu_name%></td>
							<td><%= menu.description%></td>
							<td><%= l menu.created_at%></td>
							<td>										
								<div class="am-btn-group am-btn-group-xs">
									<%= link_to_dialog edit_background_menu_path(menu), class: "am-btn am-btn-default am-btn-xs am-text-secondary",dialog: "common_dialog('编辑菜单')" do %>
										<span class="am-icon-pencil-square-o"></span> 编辑
									<% end %>
									<%= link_to_auth_void class: "am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only", onclick: "destroy_record('#{background_menu_path(menu)}') ", checked_url: background_menu_path(menu), checked_method: "DELETE"  do %>
										<span class="am-icon-trash-o"></span> 删除
									<% end %>
								</div>										
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</form>
	</div>
</div>

<%= paginate @menus, remote: true%>