<%= content_for :head_title, "列表"%>

<%= render "search"%>

<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form">
			<table class="am-table am-table-striped am-table-hover table-main">
				<thead>
					<tr>
						<th class="table-id">序号</th>
						<th class="table-title">角色名称</th>
						<th class="table-type">角色描述</th>
						<th class="table-author am-hide-sm-only"></th>
						<th class="table-date am-hide-sm-only">新增时间</th>
						<th class="table-set">操作</th>
					</tr>
				</thead>
				<tbody>
					<% @roles.each_with_index do |role, index|%>
						<tr>
							<td><%= index + 1%></td>
							<td><%= role.name%></td>
							<td><%= role.desc%></td>
							<td><%= %></td>
							<td><%= l role.created_at%></td>
							<td>										
								<div class="am-btn-group am-btn-group-xs">
									<%= link_to edit_background_role_path(role, back: request.fullpath), class: "am-btn am-btn-default am-btn-xs am-text-secondary" do %>
										<span class="am-icon-pencil-square-o"></span> 编辑
									<% end %>
									<%= link_to menus_background_role_path(role, back: request.fullpath), class: "am-btn am-btn-default am-btn-xs am-text-secondary" do %>
										<span class="am-icon-pencil-square-o"></span> 菜单
									<% end %>
									<%= link_to pundit_groups_background_role_path(role, back: request.fullpath), class: "am-btn am-btn-default am-btn-xs am-text-secondary" do %>
										<span class="am-icon-pencil-square-o"></span> 权限
									<% end %>
									<%= link_to background_role_path(role), method: :delete, class: "am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" do %>
										<span class="am-icon-trash-o"></span> 删除
									<% end %>
								</div>										
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</form>
	</div>
</div>

<%= paginate @roles%>