<%= content_for :head_title, "表单"%>

<div class="am-g tpl-amazeui-form">
	<div class="am-u-sm-12 am-u-md-9">
		<%= form_for @role, url: save_menus_background_role_path(@role), html: {class: "am-form am-form-horizontal", method: :post} do |f|%>
			<% @menus.each do |menu|%>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label"><%= menu.name%>：</label>
					<div class="am-u-sm-9">

						<div class="tpl-switch">
							<%= check_box_tag "menus[]", menu.id, @checked.include?(menu.id), class: "ios-switch bigswitch tpl-switch-btn" %>
							<div class="tpl-switch-btn-view">
							  <div></div>
							</div>
						</div>

						<small></small>
					</div>
				</div>
			<% end %>

			<%= render "shared/amaze/submit_button", f: f%>

		<% end -%>
	</div>
</div>