<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SecondSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-type="index">

    <!-- main -->
    <div class="tpl-portlet-components">

      <div class="tpl-block">
        <%= yield %>
      </div>

      <!-- alert -->
      <div class="tpl-alert"></div>
      <!-- alert end -->
    </div>
    <!-- main end -->



  </body>
</html>
