<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SecondSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="gray-bg">

      <div class="loginColumns animated fadeInDown">
          <div class="row">

              <div class="col-md-6">
                  <h2 class="font-bold">Welcome to Second School</h2>

                  <p>
                      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                  </p>

                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  </p>

                  <p>
                      When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  </p>

                  <p>
                      <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                  </p>

              </div>

              <div class="col-md-6"><%= yield%></div>
          </div>
          <hr/>

          <div class="row">
              <div class="col-md-6">
                  Copyright Example Company
              </div>
              <div class="col-md-6 text-right">
                 <small>© 2014-2015</small>
              </div>
          </div>
          
      </div>

  </body>

</html>
